<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

  <script>
    window.cookieconsent_options = {
      expiryDays: <f:format.raw>{settings.expiryDays}</f:format.raw>,
      <f:if condition="{settings.readmore}">
        learnMore: '<f:format.htmlspecialchars><f:translate key="hint.learnMore" /></f:format.htmlspecialchars>',
      </f:if>
      dismiss: '<f:format.htmlspecialchars><f:translate key="hint.dismiss" /></f:format.htmlspecialchars>',
      message: '<f:format.htmlspecialchars><f:translate key="hint.message" /></f:format.htmlspecialchars>',
      <f:if condition="{settings.readmore}">
        link: '<f:uri.page pageUid="{settings.readmore}" />',
      </f:if>
      <f:if condition="{settings.appendToBottom}">
      appendToBottom: true
      </f:if>
    };
  </script>

</html>
